MODEL_PATH=model/sign_model_holistic.pkl
ENCODER_PATH=model/label_encoder_holistic.pkl
LIBRARY_DIR=library

MP_MODEL_COMPLEXITY=0
MP_MIN_DETECT_CONF=0.6
MP_MIN_TRACK_CONF=0.5
USE_FACE=false

CONFIDENCE_THRESHOLD=0.50
BUFFER_SIZE=7
MAJORITY_THRESHOLD=0.50
WORD_COOLDOWN=1.0
NEUTRAL_FRAMES_NEEDED=4
NEUTRAL_LABEL=Neutral

CAM_INDEX=0
CAM_WIDTH=1280
CAM_HEIGHT=720
CAM_AUTO_DETECT=true

HOST=0.0.0.0
PORT=8000
LOG_LEVEL=info
